
body{

background-color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}

h1 { 

color:white;
font-size: 50px;
font-weight: normal;

}

p{ 
color:aquamarine;
font-size: 16px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: underline;
}
#remember{ 

font-size: 21px;
color: grey;

}

#phone_img { 


margin-top: 2rem;

}


#excursion_logo{ 



margin-right: 2rem;

color: gray;
text-decoration: none;
font-size: 30px;

}

#page_bottom{ 

display: flex;

justify-content: flex-end;

}
#logo_c_img{ 

width: 4%;
height: auto;
align-self: center;
margin-right: 1rem;
}